.usernamePassword{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

.LoginBtn{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.LoginBtn:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.userBtn{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.userBtn:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}